.container {
  padding: 25px;
  width: 375px;
  min-height: 550px;
  background-color: var(--secondary-background-color);
  text-align: center;
  border-radius: 20px;
  box-shadow: var(--container-shadow);
  border: 1px solid var(--details);
  position: relative;
}

img {
  width: 55px;
  position: absolute;
  left: 36px;
  top: 30px;
}

.header {
  position: relative;
  left: 36px;
  bottom: 6px;
}
